.card-child{
    width: 24rem;
    height: max-content;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    position: relative;
}

.card-child:hover{
    border: none;
    box-shadow: none;
  }

.card-child a{
    text-decoration: none;
    outline:none
}

.card-child-quiz{
    width: 300px;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    margin: 1rem 0;
}

.card-child-quiz-page{
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    margin: 1rem 0;
}

.card-secondary{
    min-height: 300px;
}
.card-secondary:hover{
    width: 24rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--lynx-grey);
    box-shadow: 0.3rem 0.3rem 0.1rem rgba(0,0,0,0.2);
    background-color: var(--black-color);
    color: var(--white-color);
}

.card-quiz-body{
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
}

.card-image-cont{
    width: 100%;
    height: 200px;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-image-quiz{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.quiz-options{
    width: 80%;
    margin: auto;
}

.quiz-option-child{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    padding: 1rem;
    margin: 0.2rem;
    font-weight: bold;
}

.quiz-option-child:hover{
    background-color: var(--black-color);
    color: var(--white-color);
}

.quiz-option-child-results{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    border: 0.1rem solid var(--lynx-grey);
    padding: 1rem;
    margin: 0.2rem;
    font-weight: bold;
}

.active-right{
    background-color: var(--green-color);
    color: var(--white-color);
}

.active-wrong{
    background-color: var(--primary-color);
    color: var(--white-color);
}